{% extends 'base.html' %}
{% block content %}

<!-- SECTION -->
<section class="weather-form">
    <h2>What's the weather like today?</h1>

    <form action="/results" method="GET">
        <fieldset>
            <legend>Please enter your information:</legend>

<!-- CITY -->
            <p>
                <label>
                    Please enter your city: <br>
                    <input type="text" name="city">
                </label>
            </p>

<!-- UNITS -->
            <p>
                Please choose your desired units: <br>
                <label>
                    <input type="radio" name="units" value="metric">
                    Celsius
                </label><br>
                <label>
                    <input type="radio" name="units" value="imperial">
                    Fahrenheit
                </label><br>
                <label>
                    <input type="radio" name="units" value="kelvin">
                    Kelvin
                </label>
            </p>

<!-- INPUT -->
            <p>
                <input type="submit" value="Submit">
            </p>

        </fieldset>
    </form>
</section>

<!-- SECTION -->
<section class="weather-form">
    <form action="historical_results" method="GET">
        <h2>See Historical Data</h1>
        <fieldset>
            <legend>Please enter your information:</legend>

<!-- CITY -->
            <p>
                <label>
                    Please enter your city: <br>
                    <input type="text" name="city">
                </label>
            </p>

<!-- UNITS -->
            <p>
                Please choose your desired units: <br>
                <label>
                    <input type="radio" name="units" value="metric">
                    Celsius
                </label><br>
                <label>
                    <input type="radio" name="units" value="imperial">
                    Fahrenheit
                </label><br>
                <label>
                    <input type="radio" name="units" value="kelvin">
                    Kelvin
                </label>
            </p>

<!-- DATE -->
            <p>
                <label>
                    Please choose the date you'd like info on: <br>
                
                    <input type="date" name="date" min="{{ min_date.strftime('%Y-%m-%d') }}" max="{{ max_date.strftime('%Y-%m-%d') }}">
                </label>
            </p>

<!-- INPUT -->
            <p>
                <input type="submit" value="Submit">
            </p>
        </fieldset>
    </form>
</section>

{% endblock content %}
